@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

body {
    font-family: 'Exo', sans-serif;
    height: 100vh;
    background-image: url('./images/poeBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.cart,
.card {
    cursor: pointer;
}

.poeBanner {
    background-color: black;
}

.navbarStyle,
.poeHeaderFont {
    background: -webkit-linear-gradient( rgba(206, 38, 38, 0.687),  rgba(236, 223, 36, 0.878));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant: small-caps;
}

.poeHeaderFont {
    font-size: 72px;
}

.navbarStyle {
    font-size: 28px
}


.landingCarousel {
    margin: 0px !important;
    padding: 0px !important;
}

  .myCartTitle {
      height: 6vh;
      background-color: rgba(140, 130, 130, 0.618);
      border-radius: 6px
  }

  .productDescription {
      background-color: rgba(34, 56, 84, 0.618);
      border-radius: 4px;
      height: 54vh;
  }

  .orderBtn {
      height: 33px;
  }

  /* below is navbar */

  .navbar {
    background-color: #000000 !important;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c06d2b !important;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #c06d2b !important;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c06d2b !important; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem !important;
    margin: 0 0.25em !important;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #c06d2b !important;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c06d2b !important;
    background-color: #c06d2b !important;
  }
  .navbar .navbar-toggle {
    border-color: #c06d2b !important;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #c06d2b !important;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #c06d2b !important;
  }
  .noPadding {
      padding: 0 !important;
      margin: 2vh auto;
  }

  .cardStyling {
      padding: .25% !important;
      margin-bottom: 0 !important;
  }
